.selectr {
  margin: 0;
  display: inline-block;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .selectr * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .selectr .panel-heading {
    cursor: default; }
    .selectr .panel-heading.no-title {
      padding: 0;
      border-bottom: none; }
  .selectr .panel-body {
    position: relative; }
  .selectr .clear-search {
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    opacity: 0.8;
    cursor: pointer; }
    .selectr .clear-search:hover {
      opacity: 1; }
  .selectr .list-group {
    overflow-x: hidden; }
    .selectr .list-group .list-group-item {
      padding: 0 !important;
      overflow: hidden;
      cursor: pointer; }
      .selectr .list-group .list-group-item.selected {
        background-color: #4679bd;
        color: white;
        font-weight: 700; }
        .selectr .list-group .list-group-item.selected .add-remove {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
  .selectr.multi .list-group-item:hover .option-name {
    margin-right: 50px;
    border-right: 1px solid #ddd; }
  .selectr.multi .list-group-item:hover .selected .option-name {
    border-right: 1px solid white; }
  .selectr.multi .list-group-item:hover .add-remove {
    display: block; }
  .selectr .option-name {
    height: 100%;
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .selectr .color-code {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-right: 0;
    float: left;
    border-radius: 5px; }
    .selectr .color-code.no-color {
      width: 0;
      height: 0;
      margin: 0; }
  .selectr .add-remove {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    opacity: 0.5;
    display: none;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    padding: 8px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle; }
  .selectr .ctrl-key .add-remove, .selectr .add-remove:hover {
    opacity: 0.8; }
  .selectr .current-selection {
    float: right;
    margin-top: 5px;
    cursor: default; }
  .selectr.max-selection-reached li:not(.selected) .option-name {
    margin-right: 0 !important;
    border-right: none !important; }
  .selectr.max-selection-reached li:not(.selected) .add-remove {
    display: none !important; }
  .selectr.max-selection-reached .current-selection {
    background-color: #d9534f; }
