/*
Written by Casey Webb, 2014

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

selectr was built using Bootstrap components, so the css required is
very lean. If your project is not using Bootstrap, include the selectrPolyfill
along with this
*/

.selectr {
    .list-group-item.selectr-selected {
        background-color: #4679bd;
        color: white;
        .selectr-add-remove {
            -webkit-transform: rotate(0deg);
        }
    }
    
    .selectr-panel-heading.no-title {
        padding: 0;
        border-bottom: none;
    }
    
    .selectr-add-remove {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: transform 0.2s linear;
        -webkit-transition: -webkit-transform 0.2s linear;
        opacity: 0.5;
        display: none;
        cursor: pointer;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 900;
        position: absolute;
        right: 10px;
        top: 4px;
        &:hover {
            opacity: 0.8;
        }
    }

    .selectr-list-group {
        overflow-y: scroll;
    }
    
    .selectr-list-group-item:hover .selectr-add-remove {
        display: block;
    }
}